#Instructions {
    /*margin: 80px;
    text-align: center;
    */
    font-family: "Honk", sans-serif;
    
}

#Game-Area {
    /*margin: 80px;
    text-align: center;
    */
    /* font-size: 40px; */
    font-family: "Honk", sans-serif;
}

.Heading-1 {
    font-size: 60px;
    font-family: "Honk", sans-serif;
}

.Heading-2 {
    font-size: 45px;
    font-family: "Honk", sans-serif;
}

.Instructions-Text{
    font-size: 20px;
    font-family: "Press Start", sans-serif;
}

footer {
    font-family: "Press Start", sans-serif;
    font-size: 15px;
    /* text-align: center;*/
}

#Custom-Button {
    font-family: "Honk", sans-serif;
    font-size: 25px;
}

.navbar {
    font-family: "Honk", sans-serif;
    font-size: 25px;
}

.navbar .navbar-brand {
    font-size: 30px;
}