#Instructions {
    margin: 80px;
    text-align: center;
    font-family: "Honk", sans-serif;
    
}

#Game-Area {
    margin: 80px;
    text-align: center;
    font-family: "Honk", sans-serif;
}

body {
    font-family: "Honk", sans-serif;
}

footer {
        font-family: "Honk", sans-serif;
        text-align: center;
}